<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Skillomate.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>12</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8D7568AE8C58C024C9D6C6DA39320E4542A70FF5</string>
				<key>dateExpires</key>
				<string>10/07/27</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D7568AE8C58C024C9D6C6DA39320E4542A70FF5</string>
						<key>dateExpires</key>
						<string>10/07/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ExpoModulesJSI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LJ48CVC23W</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D7568AE8C58C024C9D6C6DA39320E4542A70FF5</string>
						<key>dateExpires</key>
						<string>10/07/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>React.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LJ48CVC23W</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D7568AE8C58C024C9D6C6DA39320E4542A70FF5</string>
						<key>dateExpires</key>
						<string>10/07/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ReactNativeDependencies.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LJ48CVC23W</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D7568AE8C58C024C9D6C6DA39320E4542A70FF5</string>
						<key>dateExpires</key>
						<string>10/07/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermesvm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LJ48CVC23W</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>LJ48CVC23W.com.alihussainkhan.edunexfinal</string>
				<key>com.apple.developer.team-identifier</key>
				<string>LJ48CVC23W</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Skillomate.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>15efc192-481c-4d64-bb04-5a7a8b342a3f</string>
				<key>dateExpires</key>
				<string>14/09/27</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.alihussainkhan.edunexfinal</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>LJ48CVC23W</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
